body{
	font-family: 'Noto Sans TC', sans-serif;
	background: #03000e;
	font-weight:bold;
}


.search{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #f0f0f0;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
	transition: 1s;
	box-shadow: 0 0 20px white;
	
	
	
}

.btn{
	border: none;
	color: #2f3640;
	float: right;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
}



.txt{
	outline: none;
	border: none;
	background: none;
	padding: 0px;
	font-size: 16px;
	transition: 1s;
	line-height: 40px;
	width: 0px;
}

.air{
	width: 0px;
	height: 1px;
	background: rgba(0, 0, 0, 0.0);
	border: none;
}

.search:hover{
	transition: 1s;
	background-color: #2f3640;
	box-shadow: 0 0 40px white;
}

.txt:hover{
	color: white ;
}

.search:hover .txt{
	width: 300px;
	transition: 1.0s;
}


.search:hover .air{
	width: 20px;
}

.search:hover .btn{
	color: #fff;
	background: #2f3640;
}


.search:hover .txt{
	color: #fff;
}




.icon{
	position: absolute;
	left: -100;
	height: 48px;
	width: 48px;
	top: 10px;
	transition: all	0.5s;
	background-color: white;
	box-shadow: 0 0 20px white;
}

.icon:hover{
	transform: translateY(10px);
	color: white;
	background-color: #2f3640;
	box-shadow: 0 0 30px white;
}

.google{
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	color: black;
	height: 48px;
	width: 48px;
	left: 20px;
	background-color: white;
}


.mail{
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	color: black;
	height: 48px;
	width: 48px;
	background-color: white;
	left: 80px;
}

